<div ui-growler></div>

<div class='row'>
    <div class='col-lg-12'>
        <ol class='breadcrumb'>
            <li><a href="/admin"><i class='fa fa-dashboard'></i> Home</a></li>
            <li><i class='fa fa-th-list'></i> Menus</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    <i class="fa fa-file-text-o fa-fw"></i>
                    <a href="#/add"><%= __("ADMIN_MENUS_LABEL_CREATENEW") %></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td style="text-align: left"><%= __("ADMIN_MENUS_LABEL_TABLEHEADER_NAME") %></td>
                            <td style="text-align: center"></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="menu in menus">
                        <tr>
                            <td style="text-align: left">
                                <a href="#/edit/{{ menu._id }}"><h4>{{ menu.name }}</h4></a>
                                <span><%= __("ADMIN_MENUS_LABEL_NUMBEROFMENUITEMS", "{{ menu.numberOfItems }}") %></span>
                            </td>
                            <td style="text-align: center; width: 50px;">
                                <a href="#" ng-click="deleteMenu($index)" title="<%= __("ADMIN_MENUS_LABEL_DELETEMENU", "{{ menu.name }}") %>"><i class="fa fa-trash-o fa-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>