<div ui-growler></div>

<div class='row'>
    <div class='col-lg-12'>
        <ol class='breadcrumb'>
            <li><a href="/admin"><i class='fa fa-dashboard'></i> Home</a></li>
            <li><a href="/admin/contentpages"><i class='fa fa-file-text-o'></i> Pages</a></li>
            <li>Add page</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form  name='addform'>
                    <%- include pageform.ejs %>
                    <button class="btn btn-primary" ng-disabled="!addform.$valid" ng-click="saveAndCloseButtonClicked()">
                        <%= __("ADMIN_COMMON_BUTTON_SAVEANDCLOSE") %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>