<script type="text/ng-template" id="listitem">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="title">{{ level.name }}</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                            data-toggle="dropdown">Options<span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li class="expandbutton" ><a ng-click="toggle($event)">Toggle</a></li>
                            <li class="deletebutton"><a ng-click="remove(level)">Remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:none" class="panel-body">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="level.name" placeholder="placeholderNameText" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="level.url" placeholder="placeholderUrlText" />
                </div>
            </div>
        </div>
    </div>
    <ol ng-if="level.children != 0">
        <li id="list_{{ level.id }}" class='listitem' ng-repeat="level in level.children" ng-include="'listitem'"></li>           
    </ol>
</script>

<script type="text/ng-template" id="newMenuItem">
    <div ng-form="createmenuitemform">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add menu item</h4>
        </div>
        <div class="modal-body">
            <div class='form-group'>
                <input class='form-control' type='text' ng-model="name" 
                       placeholder='placeholdername' required="" />
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' ng-model="url"
                       placeholder='placeholderurl' required="" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">close</button>
            <button type="button" class="btn btn-primary" ng-disabled="!createmenuitemform.$valid" ng-click="saveAndClose(name, url)">Ok
            </button>
        </div>
    </div>
</script>

<ol id="nestedMenu">
    <li class='listitem' id="list_{{ level.id }}" ng-repeat="level in menu.children" ng-include="'listitem'"></li>
</ol>