#uriBrowserTree li {
    margin: 5px 0 5px 0;
    list-style-type: none;
    padding: 0px 0px 3px 24px;
    vertical-align: middle;
}

#uriBrowserTree ul {
    margin-left: 20px;
    padding: 0;
}


#uriBrowserTree li.media {
    background: url(/assets/admin/images/icons/icon_media.png) no-repeat;
}

#uriBrowserTree li.folder {
    background: url(/assets/admin/images/icons/icon_folder.png) no-repeat;
    font-weight: bold;
}

#uriBrowserTree li.page {
    background: url(/assets/admin/content/images/icons/icon_pages.png) no-repeat;
}
