<%- contentFor('body') %>

<div class="row">
    <div class="span12">
        <%= model.name %>
    </div>
</div>

<hr/>
<div class="row">
    <div class="span12">
        <%- model.content %>
    </div>
</div>