<%- contentFor('body') %>

<div class="site-wrapper-inner">

<div class="cover-container">

  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">NodeCMS</h3>

      <ul class="nav masthead-nav">
        <% 
        if(menus["default"]){
          for(var i = 0;i < menus["default"].length; i++) { %>
            <li><a href="<%= menus["default"][i].url %>"><%= menus["default"][i].name %></a></li>
        <% } } %>
      </ul>
    </div>
  </div>
	<div class="inner cover">
		<h1 class="cover-heading">Home template.</h1>
		<p><%- model.content %></p>
	</div>
  <div class="mastfoot">
    <div class="inner">
      <p>&copy; Company 2014</p>
    </div>
  </div>
</div>
</div>