<%- contentFor('body') %>

<div class="hero-unit">
    <h1>Hello, template!</h1>
    <p>This is the standard template based on html5 boilerplate and twitterbootstrap.</p>
</div>

<div class="row">
    <div class="span12">
        <%= title %>
    </div>
</div>

<hr/>
<div class="row">
    <div class="span4">
        <h2>Left</h2>
        <p>this section can contain even more text and is based on the grid example of twitter bootstrap</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span8">
        <h2>Right</h2>
        <p>this section can contain even more text and is based on the grid example of twitter bootstrap</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>