<% appName = "usersApp" %>

<%- contentFor('title') %>
<h3><i class="fa fa-user fa-fw"></i> <%= __('ADMIN_USERS_LABEL_MAINHEADER') %></h3>

<!-- BODY CONTENT -->
<%- contentFor('body') %>
<div ng-view></div>

<%- contentFor('bodyend') %>
<script type="text/javascript" src="/admin/assets/scripts/apps/shared/common.js"> </script>
<script type="text/javascript" src="/admin/assets/scripts/apps/services/framework.module.js"> </script>
<script type="text/javascript" src="/admin/assets/scripts/apps/directives/cms.growlers.js"> </script>
<script type="text/javascript" src="/admin/assets/scripts/apps/directives/cms.ichecker.js"> </script>
<script type="text/javascript" src="/admin/assets/scripts/apps/users/usersApp.js"> </script>
<script type="text/javascript" src="/admin/assets/scripts/apps/services/usersService.js"> </script>
<script type="text/javascript" src="/admin/assets/scripts/apps/users/usersControllers.js"> </script>