<div class='row'>
    <div class='col-lg-12'>
        <ol class='breadcrumb'>
            <li><a href="/admin"><i class='fa fa-dashboard'></i> Home</a></li>
            <li><a href="/admin/menus"><i class='fa fa-th-list'></i> Menus</a></li>
            <li></i> Edit menu</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    <i class="fa fa-plus fa-fw"></i>
                    <a ng-click="addMenuItem()"><%= __("ADMIN_MENUS_LABEL_ADDMENUITEM") %></a>
                </span>
            </div>
            <div class="panel-body">
                
                <form id="form">
                    <input type="hidden" name="menuId" value="{{ menu.Id }}" />

                    <h2>{{ menu.name.toUpperCase() }}</h2>
                    <hr/>

                    <sortable-menu ng-model="menu"></sortable-menu>

                    <button class="btn btn-primary" ng-click="saveButtonClicked()">
                        <%= __("ADMIN_COMMON_BUTTON_SAVE") %>
                    </button>
                    <button class="btn btn-primary" ng-click="saveAndCloseButtonClicked()">
                        <%= __("ADMIN_COMMON_BUTTON_SAVEANDCLOSE") %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>