<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Internal server error">
    <meta name="author" content="">

    <title>Internal server error</title>
    <link rel='stylesheet' href='/assets/default/css/bootstrap.min.css' />
    <link href="/assets/default/css/cover.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">OH NO, INTERNAL SERVER ERROR!!</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
